ul
    li
        a(href="/about") About
    li
        a(href="/contact") contact
    li
        a(href="/") home
    li
        a(href="/mission") mission
    li
        a(href="/location") location