html
   head
      title= "About"
   body
    link(rel="stylesheet", href="style.css")
    h1="sobre este proyecto"

    article= "ESTO ES UN PROYECTO POR PAREJAS SOBRE EL USO DE NODE, PUG Y LA ORDENACION DE CARPETAS PARA LAS BUENAS PRACTICAS"

    