doctype html
html
   head
      title = "Location"
      link(rel="stylesheet", href="style.css")
   body
      header 
         include includes/navbar.pug
      main
         p "Paseo de Recoletos 15, 28004 Madrid"
         img(src= imgSrc, alt="map of the location")

