doctype html
html
   head
      title = "Mission"
      link(rel="stylesheet", href="style.css")
   body
    h1 Mision
    p Nuestro principal objetivo es asimilar correctamente 
    p los conocimientos que hemos adquirido durante esta práctica a partir de estos ejercicios