doctype html
html
   head
      title= "Hello FullStack"
      link(rel="stylesheet", href="style.css")
   body
      header
         include includes/navbar.pug
      main
         p.greetings#people Hello World!
         p This is my first Node Express+Pug project 
