doctype html
html
   head
      title= "Film Details"
      link(rel="stylesheet", href="style.css")
   body
      form(action="/film", method="get") 
         label(for='titile') Introduce a title of a film 
         input.search(
            type='text'
            name='title'
            placeholder='Enter a title...')
         input(type='submit')
                                                      

