doctype html
html
   head
      title = "Film Details"
      link(rel="stylesheet", href="style.css")
   body
      p Introduce a title of a film 
        input.search(
            type='text'
             name='search'
            placeholder='Enter a title...'  )
                                                      

